/* Register.css */
.register-container {
    max-width: 500px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:200px;
  }
  
  h2 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 15px;
  }
  
  input {
    margin-bottom: 10px;
  }

/* Login.css */
.login-container {
  max-width: 500px;
  margin: 20px auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top:200px;
}

@media (max-width: 480px) {
  .login-container {
    max-width:350px;
  }
  .register-container {
    max-width: 350px;
  }
}