.pet-detail-container h1 {
    color: #4CAF50;
    margin: 20px;
}

.pet-detail-container p {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.pet-detail-container .cat-image {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.adoptButton {
    width: 30%;
    position: relative;
    left: 73vh;
    margin-top: 10px;
    margin-bottom: 85px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.adoptButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.adoptButton:active {
    transform: scale(1);
}


/* Media Query for Tablets */
@media (max-width: 768px) {
    .adoptButton {
        width: 50%;
        position: relative;
        left: 19vh;
        margin-top: 10px;
        margin-bottom: 85px;
        font-size: 25px;
        font-weight: bold;
    }
}

/* Media Query for Smaller Media Devices */
@media (max-width: 480px) {
    .pet-detail-container .cat-image {
        width: 85%;
        position: static;
        margin-left: 32px;
    }

    .adoptButton {
        width: 70%;
        font-size: 25px;
        font-weight: bold;
        position: relative;
        margin-bottom: 15px;
        left: 7vh;
    }
}