/* PetsList.css */
.pets-list {
  text-align: center;
  padding: 20px;
  font-size: 20px
}

.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjusted image size for "zoomed out" effect */
.cat-image {
  width: 60%;       
  max-height: 40vh; 
  object-fit:contain;
  border-radius: 8px;
}

.cat-card p {
  margin: 8px 0;
}

.view-button {
  margin:20px;
  font-weight:bold;
  font-size: 30px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.view-button:active {
  transform: scale(1);
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .cat-image {
    width: 100%;       
    max-height: 35vh; 
  }
  .cat-card {
    width:100%;    
    padding: 15px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .cat-image {
    width: 100%;       
    max-height: 40vh; 
  }
  .cat-card {
    height: auto;
    padding: 15px;
    margin-bottom: 10px;
  }
  .cat-scroll-container {
    padding-top: 10px;
  }
}