/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
  color: white;
  animation: slideIn 0.5s ease-in-out;
}

.navbar-logo {
  width: 200px;
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 45px;
}

.nav-links li {
  list-style: none;
}

.nav-links li::after{
  content:'';
  height: 2px;
  background-color: white;
  display: flex;
  opacity:0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-links li:hover::after{
  opacity: 1;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: antiquewhite;
}

.mobile-menu-icon {
  display: none;
  font-size: 1.9em;
  color: white;
}

/* Media Query for Tablets and Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }
  
  .mobile-menu-icon {
    display: block; /* Show hamburger icon */
  }
  
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;                
    position: absolute;
    top: 124px;
    left: 0;
    background-color: #333;
    padding: 20px 30px;       
    width: 100%;              
    box-sizing: border-box;
    animation: slideIn 0.4s ease-in-out;
  }

  .nav-links-mobile li {
    padding: 10px 0;          
    text-align: center;
  }
}

/* Additional Media Query for Smaller Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .navbar-logo {
    font-size: 1.2em;
  }

  .mobile-menu-icon {
    font-size: 1.5em;
  }

  .nav-links-mobile {
    right: 10px;
    width: 100%;
    text-align: center;
    padding: 15px 20px;       
  }
}


/* Animation */
@keyframes slideIn {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}